{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html>
    <head>
        <title>AboPDFs</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
        <meta name="description" content="Service to help ÅAU students find text documents.">
        <!--[if IE]>
            <link rel="stylesheet" href="{% static 'css/stylesheets/ie.css' %}">
        <![endif]-->
        <meta http-equiv="Content-Type" content="application/vnd.wap.xhtml+xml; charset=utf-8" />
        <meta name="HandheldFriendly" content="true" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div id="container">
            <header>
                <h1>AboPDF</h1>
                <h3>Förenklar hittandet av  <a href="https://www.abo.fi">ÅAs</a> undervisningsprogram osv.</h3>
            </header>
            <main>
                <!--
                <div id="customsearchfield" class="block-wrapper">
                    <input id="customsearchinput" type="text"  placeholder="Sök efter filer...">
                    <div id="resetsearchfield"></div>
                </div>
                -->
                <div id="react-app">Loading..</div>
            </main>
            
            <footer>
                Sida skapad av <a href="https://awest.io">Awest.io</a>. Fattas något från sidan? Ta kontakt :)
            </footer>
        </div>
        <script src="{% static 'js/bundle.js' %}" type="text/javascript"></script>
    </body>
</html>
