{% extends 'homepage/base.html' %}

{% block header %}
<h1>AboPDF</h1>
<h3>Förenklar hittandet av  <a href="https://www.abo.fi">ÅAs</a> undervisningsprogram osv.</h3>
{% endblock %}

{% block main %}
<ul id="messages" class="messages">
    {% if messages %}
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    {% endif %}
</ul>

<div id="root"></div>
{% endblock %}

{% block footer %}
Skapat av <a href="https://awest.io">Awest.io</a>. Fattas något från sidan? Ta kontakt :)
{% endblock %}