@font-face {
  font-family: 'Ubuntu';
  src: url('fonts/ubuntu-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ubuntu-regular.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Ubuntu Medium';
  src: url('fonts/ubuntu-medium.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/ubuntu-medium.woff') format('woff'), /* Pretty Modern Browsers */
}

@font-face {
  font-family: 'Roboto Slab';
  src: url('fonts/robotoslab-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('fonts/robotoslab-regular.woff') format('woff'), /* Pretty Modern Browsers */
}

$red_regular: #c61919;
$red_darker: #831111;

body {
    font-family: "Ubuntu";
    text-align: center;
    color: #292929;
}

#container {
    padding-top: 25px;
    display: inline-block;
}

h1 {
    font-size: 48pt;
}

h3 {
    font-size: 18pt;
}

a {
    text-decoration: none;
    color: $red_regular;

    &:visited {
        color: $red_darker;
    }

    &:hover {
        text-decoration: underline;
    }
}

#customsearchfield {
    margin-top: 55px;
    margin-bottom: 25px;
    font-size: 0;
    white-space: nowrap;
    input {
        padding: 10px 5px;
        text-align: center;

        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;

        border-left: 1px solid #999999;
        border-top: 1px solid #999999;
        border-bottom: 1px solid #999999;
        border-right: none;

        letter-spacing: 1px;
        font-size: 12pt;
        width: 400px;
        height: 30px;
        max-width: 400px;
        min-width: 250px;
        font-family: "Roboto Slab";
    }

    #resetsearchfield {
        display: inline-block;
        height: 30px;
        padding: 10px 5px;
        vertical-align: top;
        line-height: 30px;
        width: 45px;
        border: 1px solid #777;

        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;

        transition: color 0.05s;

        &:after {
            font-size: 12pt;
            content: "\f00d";
            font-family: "FontAwesome";
        }

        &:hover {
            cursor: pointer;
            color: #aaa;
        }
    }
}

%inline-border-container {
    display: inline-block;
    border: 1px solid #999999;
    padding: 10px 20px;
    border-radius: 3px;
    margin: 5px 0;
}

.inline-border-container {
    @extend %inline-border-container;
}

#mobilesort {
    display: none;
}

#result-table_length label {
    @extend %inline-border-container;
}

#result-table_wrapper {
    display: inline-block;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

main #result-table {
    animation-name: fade-in;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

// The actual table
table#result-table {
    margin: 35px 0;
    display: inline-block;
    border-collapse: collapse;
    min-height: 300px;
    text-align: left;

    tbody > a {
        display: table-row;

        &:hover {
            text-decoration: none;
        }
    }


    th, td {
        padding: 7px 15px;
        white-space: nowrap;
        text-transform: capitalize;
        text-align: left;
    }

    th {
        font-family: "Ubuntu Medium";

        &:hover {
            cursor: pointer;
        }

        &.sorting_asc:after, &.sorting_desc:after {
            font-family: "FontAwesome";
            padding-left: 3px;
            position: absolute;
        }

        &.sorting_asc:after {
            content: "\f0d8";
        }

        &.sorting_desc:after {
            content: "\f0d7";
        }
    }

    a:not(:last-child) {
        border-bottom: 1px solid #dddddd;
    }
}

#result-table_info {
    padding-top: 20px;
}

#result-table_paginate {
    margin-top: 25px;

    .ellipsis {
        cursor: default; 
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    #result-table_previous, #result-table_next {
        margin-right: 10px;
        margin-left: 10px;
    }

    #result-table_previous {
        &:before {
            content: "\f100";
            font-family: "FontAwesome";
            padding-right: 5px;
            position: relative;
        }

        &:hover:before {
            right: 5px;
        }
    }

    #result-table_next {
        &:after {
            content: "\f101";
            font-family: "FontAwesome";
            padding-left: 5px;
            position: relative;
        }

        &:hover:after {
            left: 5px;
        }
    }

    .paginate_button {
        padding: 5px;
        border-radius: 3px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-bottom: 1px solid #ffffff;
        transition: all 0.01s;

        &:hover {
            cursor: pointer;
            text-decoration: none;
            border-bottom: 1px solid $red_regular;
        }

        &.current {
            border-top: 1px solid $red_regular;
        }
    }
}

footer {
    margin-top: 25px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 10pt;
    font-family: "Roboto Slab";
    display: inline-block;
    opacity: 0.6;
    transition: opacity 0.1s;

    &:hover {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    #mobilesort {
        display: block;
    }

    #customsearchfield, #resetsearchfield {
        height: 40px;
    }
    
    #customsearchfield #resetsearchfield::after {
        font-size: 22pt;
    }

    #customsearchfield input {
        font-size: 18pt;
    }

    #result-table_length *, #mobilesort * {
        font-size: 16pt;
    }

    table#result-table {
        margin: 0 5px;
        tbody {
            display: grid;
            grid-column-gap: 5px;
            grid-row-gap: 5px;

            a.row, a.row:not(:last-child) {
                display: grid;
                border: 1px solid #999;
                grid-template-rows: auto auto auto auto;
                align-items: end;
            }

            td {
                padding: 3px 15px;
                display: block;
                text-align: center;
                white-space: normal;
                font-size: 14pt;

                a {
                    font-size: 15pt;
                }
            }
        }


        thead {
            display: none;
        }
    }

    #result-table_info {
        font-size: 16pt;
    }

    #result-table_paginate .paginate_button {
        font-size: 20pt;
    }
}
